.ant-section__ant092_testimonials {
    position: relative;
    padding: 50px 0;
}

.ant092_testimonials-image-bg {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/ant092_testimonials/milford_sound_small.jpg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ant092_testimonials-z-index9 {
    z-index: 9;
}

.ant-section__ant092_testimonials blockquote {
    background: rgba(35, 55, 77, 0.795);
    color: #fff;
    padding: 20px;
    border: none;
}

.ant-section__ant092_testimonials blockquote p {
    font-size: 16px;
    font-style: italic;
    position: relative;
    padding: 0 20px;
}

.ant-section__ant092_testimonials blockquote .ant092_testimonials-author-position {
    font-size: 13px;
    font-style: italic;
}

.ant-section__ant092_testimonials blockquote .ant092_testimonials-author-position {
    color: #c8c8c8;
}

.ant-section__ant092_testimonials blockquote p::before,
.ant-section__ant092_testimonials blockquote p::after {
    position: absolute;
    content: '"';
    left: 0;
    font-size: 50px;
    top: -30px;
    color: #bbb;
}

.ant-section__ant092_testimonials blockquote p::after {
    left: auto;
    right: 0;
    top: auto;
}

.ant092_testimonials-img-circle {
    border-radius: 50%;
    display: block;
    width: auto !important;
    margin: 0 auto;
}

.ant-section__ant092_testimonials .owl-carousel .item {
    margin-left: 15px;
    margin-right: 15px;
    cursor: move;
}

.ant-section__ant092_testimonials .owl-dots {
    text-align: center;
    margin-top: 30px;
}

.ant-section__ant092_testimonials .owl-carousel button.owl-dot {
    background: none repeat scroll 0 0 #c8c8c9;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 0 3px;
    width: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    cursor: pointer;

}

.ant-section__ant092_testimonials .owl-carousel button.owl-dot.active {
    background-color: #1089ff;
}